{% for article in articles %}
    <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.title }}</td>
        <td>{{ article.publication_date }}</td>
        <td>{{ article.topic }}</td>
        <td style="width: 150px">
            <button type="button"
                    class="btn btn-info btn-sm js-open-article"
                data-url="{% url 'article_open' article.id %}">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button type="button"
                    class="btn btn-warning btn-sm js-update-article"
                    data-url="{% url 'article_update' article.id %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-article"
                    data-url="{% url 'article_delete' article.id %}">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="8" class="text-center bg-warning">Пусто</td>
    </tr>
{% endfor %}