{% extends 'base.html' %}

{% load static %}

{% load bootstrap_pagination %}

{% block javascript %}
    <script src="{% static 'articles/js/articles.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">

        {#        SEARCH       #}
            <div class="col">
                <form method="GET" class="form-inline">
                    {% csrf_token %}
                    <label>
                        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}"
                               placeholder="Поиск по заголовку">
                    </label>
                    <button class="btn btn-info glyphicon glyphicon-search" type="submit" name="action"></button>
                </form>
            </div>
        <hr/>

        {#        CREATE       #}
            <div class="col">
                <button type="button" class="btn btn-primary js-create-article"
                        data-url="{% url 'article_create' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Новая статья
                </button>
            </div>
        </div>
        <hr/>

        {#            SORT      #}
        <div class="row justify-content-start">
            <div class="col">
                <label for="sort-selection">Сортировать по:</label>
                <select class="form-control" id="sort-selection">
                    <option>заголовку</option>
                    <option>автору</option>
                    <option>дате</option>
                    <option>источнику</option>
                </select>
            </div>
        </div>
        <hr/>

        {#            FILTER        #}
        <div class="row justify-content-start">
            <div class="col-4">

            </div>
        </div>
        <hr/>

    </div>

    {#          TABLE          #}
    <table class="table table-striped" id="article-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Автор</th>
            <th>Дата</th>
            <th>Источник</th>
            <th>Теги</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% include 'articles/includes/partial_article_list.html' %}
        </tbody>
    </table>

    {#         PAGINATION         #}
    {% if articles.has_other_pages %}
        <div class="pagination" style="font-size: 16px;">
            {% if articles.has_previous %}
                <a href="?page=
                        {{ articles.previous_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
                {% if request.GET.s %}&s={{ request.GET.s }}{% endif %}
                "><span class="glyphicon glyphicon-chevron-left" style="font-size: 20px;"></span></a>
            {% endif %}
            Страница {{ articles.number }} из {{ articles.paginator.num_pages }}
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}
                {% if request.GET.s %}&s={{ request.GET.s }}{% endif %}
                "><span class="glyphicon glyphicon-chevron-right" style="font-size: 20px;"></span></a>
            {% endif %}
        </div>
    {% endif %}

    <div class="modal fade" id="modal-article">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}