{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'articles/js/articles.js' %}"></script>
    <script src="{% static 'articles/js/onload.js' %}"></script>
    <script src="{% static 'articles/js/table.js' %}"></script>
    <script src="{% static 'articles/js/crud.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        {#            SEARCH        #}
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="searchInput"></label>
                    <input type="text" id="searchInput" onchange="updateLocalStore('search', this.value)"
                           class="form-control" name="search" placeholder="Поиск по заголовку">
                    <span class="input-group-btn">
                <button class="btn btn-info glyphicon glyphicon-search" type="button" onclick="search()"></button>
                </span>
                </div>
            </div>
        </div>

        {#            SORT      #}
        <div class="row" style="padding-top: 10px">
            <div class="col">
                <div class="input-group">
                    <label for="sort-selection">Сортировать по:</label>
                    <select class="form-control" id="sort-selection" onchange="updateLocalStore('sort', this.value)">
                        <option value="title">заголовку</option>
                        <option value="publication_date">дате</option>
                        <option value="topic">категории</option>
                    </select>
                </div>
            </div>
        </div>
        <hr/>

        {#            FILTER        #}
        <div class="row">
            <div class="input-group">
                <label class="input-group-text" for="topic-select">Категория:</label>
                <select class="form-control" id="topic-select"
                        onchange="updateLocalStore('topic', this.value)">
                </select>
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            {#            date from        #}
            <div class="col-xs-6">
                <div class="input-group">
                    <label class="input-group-text" for="dateFrom">С:</label>
                    <input class="form-control" type="date" id="dateFrom"
                           onchange="updateLocalStore('dateFrom', this.value)">
                </div>
            </div>
            {#            date to      #}
            <div class="col-xs-6">
                <div class="input-group">
                    <label class="input-group-text" for="dateTo">По:</label>
                    <input class="form-control" type="date" id="dateTo"
                           onchange="updateLocalStore('dateTo', this.value)">
                </div>
            </div>
        </div>

        <div class="row align-right" style="padding-top: 10px">
            <div class="pull-right">
                <button class="btn btn-info " type="button" onclick="search()">Применить</button>
                <button class="btn btn-danger " type="button" onclick="clearFilters()">Очистить</button>
            </div>
        </div>
        <hr/>

        {#        CREATE       #}
        <div class="row">
            <div class="col-xs-6">
                <div class="paginationjs paginationjs-big paginationjs-theme-blue"
                     id="pagination-container"></div>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-primary js-create-article"
                        data-url="{% url 'article_create' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                    Новая статья
                </button>
            </div>
        </div>
    </div>



    {#          TABLE          #}
    <table style="margin: 20px 0;" id="article-table">
        <thead>
        <tr style="background: rgba(75,143,203,0.49)">
            {#            <th>#</th>#}
            <th>Заголовок</th>
            <th>Дата</th>
            <th>Категория</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="post_table">
        </tbody>
    </table>

    <div class="modal fade" id="modal-article">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}